{% comment %} 

{% endblock banner-slider %}

{% block main-content %}

<div class="container mt-3">
<br>
<h2 class="text-center">About Us</h2>
<br>
<div class="row container">
    <p class="fs-4 text-center">
        this is a public limited company having its registered and corporate office at 
        Giza Governorate in Egypt. The company was incorporated in the year 
        2022 and production commenced in 2024.
        This is one of the fastest growing public listed companies in Egypt.
    </p>

    <br><br>
    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">
            To embrace the right technology to delight our customers 
            Empowering The farmer comunity through our unique 'RelationShip Farming' Model
            To anticipate and respond to our customers' needs by creating 
            high-quality products and making them available through innovative and 
            convenient channels.
        </p>
    </div>
</div>
</div>
<br><br>
{% endblock main-content %} {% endcomment %}
