{% extends 'app/base.html' %}
{% load static %}
{% block title %}
  Payment
{% endblock %}
{% block main-content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href = "{% static 'app/css/payment.template.test.css' %}"/>

</head>

<div class="iframeOut">
    <div class="iframBody shadow">
            <div class="iframeType">
                <p>Credit Card</p>
                <div class="cardsLogos">
                    <img src={% static "app/images/logos/visa.svg" %}>
                    <img src={% static "app/images/logos/paypal.svg" %}>
                </div>
            </div>
        <form id="paymob_checkout">
            <div class="inputDiv">
                <input placeholder="Card Number" required maxlength="16" type="text" paymob_field="card_number">
            </div>
            <div class="inputDiv">
                <input placeholder="Card Holder Name" required paymob_field="card_holdername">
            </div>
            <div class="inputDiv cardExpire">
                <input placeholder="Exp. Month" required maxlength="2" type="text" paymob_field="card_expiry_mm">
                <input placeholder="Exp. Year" required maxlength="2" type="text" paymob_field="card_expiry_yy">
            </div>
            <div class="inputDiv">
                <input placeholder="CCV" type="text" required maxlength="4" paymob_field="card_cvn">
            </div>
            <input type="hidden" value="CARD" paymob_field="subtype">
            <div class="inputDiv saveCard">
                <input type="checkbox" value="tokenize" name="save card" id="save card">
                <label for="save card">save card</label>
            </div>
        <!-- order.html -->
<div id="error-message" style="display: none;"></div>

<a id="pay-button" class="btn btn-warning mt-3 px-5 fw-bold" href="{% url 'test' %}">Pay</a>

{% comment %} To handle insufficient amounts  {% endcomment %}
<script>
document.getElementById('pay-button').addEventListener('click', function(event) {
    event.preventDefault();
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                window.location.href = "{% url 'orders' %}";
            } else {
                var errorMessage = JSON.parse(xhr.responseText).message;
                document.getElementById('error-message').innerText = errorMessage;
                document.getElementById('error-message').style.display = 'block';
            }
        }
    };
    xhr.open('GET', "{% url 'test' %}", true);
    xhr.send();
});
</script>

        </form>
    </div>
</div>
{% endblock main-content %}
